.DS_Store
.python-version
__pycache__
*.pyc
*.asm
mythril.egg-info
build
dist
*.rst
*.lock
*.svg
laser*
lol*
.idea*
coverage_html_report/
.coverage
tests/testdata/outputs_current/
tests/mythril_dir/signatures.json
