[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"e1839a8" = {path = ".", editable = true}

[dev-packages]
pylint = "*"
yapf = "*"
pytest = "*"
pytest-mock = "*"

[requires]

[pipenv]
allow_prereleases = true
