blake2b-py
py-ecc>=1.4.7,<7.0.0
py-evm==0.7.0a4
coloredlogs>=10.0
coincurve>=13.0.0
cython
asn1crypto>=0.22.0
configparser>=3.5.0
coverage<7.0,>6.0
eth-utils>=2.0.0,<3.0.0
eth-account>=0.6.0
ethereum-input-decoder>=0.2.2
eth-rlp>=0.2.0
eth-abi>=2.0.0
eth-typing>=3.0.0
eth-utils>=2.0.0
hexbytes<0.3.0
jinja2>=2.9
MarkupSafe<2.1.0
mock
persistent>=4.2.0
py-flags
py-solc-x
py-solc
pytest>=3.6.0
pyparsing>=2.0.2
pytest-cov
pytest_mock
requests
rlp>=3
semantic_version
transaction>=2.2.1
typing-extensions<4,>=3.7.4
z3-solver>=4.8.8.0
matplotlib
pre-commit<2.21.0
certifi>=2020.06.20
